# manifests/kafka/kafka-cluster.yaml
apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: gps-kafka-cluster
  namespace: gps-tracker-data
  annotations:
    strimzi.io/kraft: "enabled"
    strimzi.io/node-pools: "enabled"
spec:
  kafka:
    version: 3.6.1
    replicas: 3
    listeners: 
      - name: plain
        port: 9092
        type: internal
        tls: false
    config:
      # Settings for KRaft consensus and data integrity
      offsets.topic.replication.factor: 3
      transaction.state.log.replication.factor: 3
      transaction.state.log.min.isr: 2
    storage:
      type: jbod
      volumes:
      - id: 0
        type: persistent-claim
        size: 5Gi
        deleteClaim: false
  entityOperator:
    topicOperator: {} # Required for the gps-topic.yaml file to work
  kafkaNodePools:
    - name: all-nodes
      replicas: 3
      roles:
        - controller
        - broker
      storage:
        type: persistent-claim
        size: 5Gi
        deleteClaim: false